In [22]:
import os
import pandas as pd
from datetime import datetime

In [23]:
# L·∫•y ƒë∆∞·ªùng d·∫´n c·ªßa th∆∞ m·ª•c hi·ªán t·∫°i
current_directory = os.getcwd()

# L·∫•y ƒë∆∞·ªùng d·∫´n c·ªßa th∆∞ m·ª•c cha
parent_directory = os.path.dirname(current_directory)

# T·∫°o ƒë∆∞·ªùng d·∫´n ƒë·∫ßy ƒë·ªß t·ªõi file CSV
csv_path = os.path.join(parent_directory, "CartoonNetworkAsia_81Post_Processing_02_SeperatedReactions.csv")

# ƒê·ªçc file CSV
df = pd.read_csv(csv_path)

In [24]:
df

,post_id,post_text,time,likes,comments,shares,reaction_count,like,love,wow,angry,haha,care,sad
0,738496031649666,Celebrate #WB100 with sunset movies under the ...,2023-11-06 11:35:32,37,0,0,45,37,6.0,1.0,1.0,0.0,0.0,0.0
1,738486251650644,Unlock your Barbie and Chelsea alter ego! Try ...,2023-11-06 11:00:02,14,2,1,16,14,1.0,0.0,0.0,1.0,0.0,0.0
2,736838365148766,Looks like Tom won't be fishing in the Singapo...,2023-11-05 19:00:17,7,4,19,10,7,0.0,0.0,0.0,3.0,0.0,0.0
3,737572781741991,The chase is on in the Singapore Botanic Garde...,2023-11-04 19:04:14,453,14,68,789,453,170.0,2.0,4.0,140.0,18.0,2.0
4,736877231811546,Ready to rock some outdoor superhero moves? ‚ö°Ô∏è...,2023-11-03 10:41:23,83,0,6,122,83,32.0,2.0,1.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,681911200641483,The claws are out this August with Cat-stravag...,2023-08-01 10:55:03,429,28,54,571,429,121.0,4.0,1.0,3.0,13.0,0.0
76,681542050678398,Toontastic Kenergy all around üíØ Which of these...,2023-07-31 19:00:11,228,20,63,466,228,172.0,1.0,0.0,58.0,7.0,0.0
77,681350087364261,Celebrate the 9 lives of Cats with Cat-stravag...,2023-07-31 11:34:16,125,8,7,198,125,66.0,1.0,0.0,0.0,6.0,0.0
78,681290900703513,The iconic chase continues between Tom and Jer...,2023-07-31 09:00:02,3309,281,1000,6216,3309,2069.0,45.0,31.0,33.0,127.0,602.0
79,680769534088983,Did someone say FRIENDSHIP QUIZ? üëØ‚Äç‚ôÄÔ∏èüßê Happy I...,2023-07-30 10:35:03,111,13,11,155,111,37.0,0.0,0.0,1.0,6.0,0.0

In [25]:
# t·∫°o 1 list ch·ª©a c√°c ng√†y th√°ng ƒëƒÉng b√†i
date_list = []

for date in df.time:
    date_list.append(date[:10])

In [26]:
# √©p ki·ªÉu thu·ªôc t√≠nh time t·ª´ str th√†nh datetime
i = 0

for time in df.time:
    to_date = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    df.iloc[i, 2] = to_date
    i += 1

In [27]:
# t·∫°o 1 list ch·ª©a c√°c gi·ªù ƒëƒÉng b√†i
hour_list = []

for time in df.time:
    hour_list.append(time.hour)

In [28]:
# t·∫°o dataframe ch·ª©a gi·ªù ƒëƒÉng b√†i
df_hour = pd.DataFrame(hour_list, columns = ["hour"])

In [29]:
# t·∫°o dataframe ch·ª©a ng√†y v√† th√°ng ƒëƒÉng b√†i
df_date = pd.DataFrame(date_list, columns = ["date"])

In [30]:
# t·∫°o dataframe df_hour_date ch·ª©a gi·ªù, ng√†y th√°ng ƒëƒÉng b√†i
df_hour_date = pd.concat([df_hour, df_date], axis = 1)

In [31]:
# b·ªè c·ªôt time trong dataframe c≈©
no_time_df = df.drop(['time'], axis = 1)

In [32]:
# n·ªëi dataframe ƒë√£ x√≥a time v·ªõi df_hour_date
new_df = pd.concat([no_time_df, df_hour_date], axis = 1)

In [33]:
new_df

,post_id,post_text,likes,comments,shares,reaction_count,like,love,wow,angry,haha,care,sad,hour,date
0,738496031649666,Celebrate #WB100 with sunset movies under the ...,37,0,0,45,37,6.0,1.0,1.0,0.0,0.0,0.0,11,2023-11-06
1,738486251650644,Unlock your Barbie and Chelsea alter ego! Try ...,14,2,1,16,14,1.0,0.0,0.0,1.0,0.0,0.0,11,2023-11-06
2,736838365148766,Looks like Tom won't be fishing in the Singapo...,7,4,19,10,7,0.0,0.0,0.0,3.0,0.0,0.0,19,2023-11-05
3,737572781741991,The chase is on in the Singapore Botanic Garde...,453,14,68,789,453,170.0,2.0,4.0,140.0,18.0,2.0,19,2023-11-04
4,736877231811546,Ready to rock some outdoor superhero moves? ‚ö°Ô∏è...,83,0,6,122,83,32.0,2.0,1.0,1.0,3.0,0.0,10,2023-11-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,681911200641483,The claws are out this August with Cat-stravag...,429,28,54,571,429,121.0,4.0,1.0,3.0,13.0,0.0,10,2023-08-01
76,681542050678398,Toontastic Kenergy all around üíØ Which of these...,228,20,63,466,228,172.0,1.0,0.0,58.0,7.0,0.0,19,2023-07-31
77,681350087364261,Celebrate the 9 lives of Cats with Cat-stravag...,125,8,7,198,125,66.0,1.0,0.0,0.0,6.0,0.0,11,2023-07-31
78,681290900703513,The iconic chase continues between Tom and Jer...,3309,281,1000,6216,3309,2069.0,45.0,31.0,33.0,127.0,602.0,9,2023-07-31
79,680769534088983,Did someone say FRIENDSHIP QUIZ? üëØ‚Äç‚ôÄÔ∏èüßê Happy I...,111,13,11,155,111,37.0,0.0,0.0,1.0,6.0,0.0,10,2023-07-30

In [34]:
# t·∫°o list ch·ª©a th·ª© ƒëƒÉng b√†i
day_of_week_list = []

for date in new_df.date:
    specific_date = pd.to_datetime(date)
    day_of_week = specific_date.strftime('%A')
    day_of_week_list.append(day_of_week)

In [35]:
# t·∫°o dataframe ch·ª©a th·ª© ƒëƒÉng b√†i
day_df = pd.DataFrame(day_of_week_list, columns = ["day"])

In [36]:
day_df

         day
0     Monday
1     Monday
2     Sunday
3   Saturday
4     Friday
..       ...
75   Tuesday
76    Monday
77    Monday
78    Monday
79    Sunday

[80 rows x 1 columns]

In [37]:
# n·ªëi new_df v·ªõi day_df
new_df_2 = pd.concat([new_df, day_df], axis = 1)

In [38]:
new_df_2

,post_id,post_text,likes,comments,shares,reaction_count,like,love,wow,angry,haha,care,sad,hour,date,day
0,738496031649666,Celebrate #WB100 with sunset movies under the ...,37,0,0,45,37,6.0,1.0,1.0,0.0,0.0,0.0,11,2023-11-06,Monday
1,738486251650644,Unlock your Barbie and Chelsea alter ego! Try ...,14,2,1,16,14,1.0,0.0,0.0,1.0,0.0,0.0,11,2023-11-06,Monday
2,736838365148766,Looks like Tom won't be fishing in the Singapo...,7,4,19,10,7,0.0,0.0,0.0,3.0,0.0,0.0,19,2023-11-05,Sunday
3,737572781741991,The chase is on in the Singapore Botanic Garde...,453,14,68,789,453,170.0,2.0,4.0,140.0,18.0,2.0,19,2023-11-04,Saturday
4,736877231811546,Ready to rock some outdoor superhero moves? ‚ö°Ô∏è...,83,0,6,122,83,32.0,2.0,1.0,1.0,3.0,0.0,10,2023-11-03,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,681911200641483,The claws are out this August with Cat-stravag...,429,28,54,571,429,121.0,4.0,1.0,3.0,13.0,0.0,10,2023-08-01,Tuesday
76,681542050678398,Toontastic Kenergy all around üíØ Which of these...,228,20,63,466,228,172.0,1.0,0.0,58.0,7.0,0.0,19,2023-07-31,Monday
77,681350087364261,Celebrate the 9 lives of Cats with Cat-stravag...,125,8,7,198,125,66.0,1.0,0.0,0.0,6.0,0.0,11,2023-07-31,Monday
78,681290900703513,The iconic chase continues between Tom and Jer...,3309,281,1000,6216,3309,2069.0,45.0,31.0,33.0,127.0,602.0,9,2023-07-31,Monday
79,680769534088983,Did someone say FRIENDSHIP QUIZ? üëØ‚Äç‚ôÄÔ∏èüßê Happy I...,111,13,11,155,111,37.0,0.0,0.0,1.0,6.0,0.0,10,2023-07-30,Sunday

In [32]:
# l∆∞u file d∆∞·ªõi t√™n CartoonNetworkAsia_81Post_Processing_03_SeperatedHourDate.csv
new_df_2.to_csv("CartoonNetworkAsia_81Post_Processing_03_SeperatedHourDate.csv", index = False)