In [11]:
import os
import pandas as pd
import ast

In [12]:
# L·∫•y ƒë∆∞·ªùng d·∫´n c·ªßa th∆∞ m·ª•c hi·ªán t·∫°i
current_directory = os.getcwd()

# L·∫•y ƒë∆∞·ªùng d·∫´n c·ªßa th∆∞ m·ª•c cha
parent_directory = os.path.dirname(current_directory)

# T·∫°o ƒë∆∞·ªùng d·∫´n ƒë·∫ßy ƒë·ªß t·ªõi file CSV
csv_path = os.path.join(parent_directory, "CartoonNetworkAsia_81Post_Processing_01.csv")

# ƒê·ªçc file CSV
df = pd.read_csv(csv_path)

In [13]:
df

,post_id,post_text,time,likes,comments,shares,reactions,reaction_count
0,738496031649666,Celebrate #WB100 with sunset movies under the ...,2023-11-06 11:35:32,37,0,0,"{'like': 37, 'love': 6, 'wow': 1, 'angry': 1}",45
1,738486251650644,Unlock your Barbie and Chelsea alter ego! Try ...,2023-11-06 11:00:02,14,2,1,"{'like': 14, 'love': 1, 'haha': 1}",16
2,736838365148766,Looks like Tom won't be fishing in the Singapo...,2023-11-05 19:00:17,7,4,19,"{'like': 7, 'haha': 3}",10
3,737572781741991,The chase is on in the Singapore Botanic Garde...,2023-11-04 19:04:14,453,14,68,"{'like': 453, 'love': 170, 'haha': 140, 'wow':...",789
4,736877231811546,Ready to rock some outdoor superhero moves? ‚ö°Ô∏è...,2023-11-03 10:41:23,83,0,6,"{'like': 83, 'love': 32, 'haha': 1, 'wow': 2, ...",122
...,...,...,...,...,...,...,...,...
75,681911200641483,The claws are out this August with Cat-stravag...,2023-08-01 10:55:03,429,28,54,"{'like': 429, 'love': 121, 'haha': 3, 'wow': 4...",571
76,681542050678398,Toontastic Kenergy all around üíØ Which of these...,2023-07-31 19:00:11,228,20,63,"{'like': 228, 'love': 172, 'haha': 58, 'wow': ...",466
77,681350087364261,Celebrate the 9 lives of Cats with Cat-stravag...,2023-07-31 11:34:16,125,8,7,"{'like': 125, 'love': 66, 'wow': 1, 'care': 6}",198
78,681290900703513,The iconic chase continues between Tom and Jer...,2023-07-31 09:00:02,3309,281,1000,"{'like': 3309, 'love': 2069, 'haha': 33, 'wow'...",6216
79,680769534088983,Did someone say FRIENDSHIP QUIZ? üëØ‚Äç‚ôÄÔ∏èüßê Happy I...,2023-07-30 10:35:03,111,13,11,"{'like': 111, 'love': 37, 'haha': 1, 'care': 6}",155

In [14]:
# t·∫°o 1 list ch·ª©a c√°c dictionary c·ªßa c√°c lo·∫°i reaction c·ªßa t·ª´ng post v√† l∆∞u v√†o 1 list 
react_list = []

for react_str in df.reactions:
    react_dict = ast.literal_eval(react_str)
    react_list.append(react_dict)

In [15]:
#t·∫°o dataframe t·ª´ react_list
df_reactions = pd.DataFrame(react_list)

In [16]:
df_reactions

    like    love   wow  angry   haha   care    sad
0     37     6.0   1.0    1.0    NaN    NaN    NaN
1     14     1.0   NaN    NaN    1.0    NaN    NaN
2      7     NaN   NaN    NaN    3.0    NaN    NaN
3    453   170.0   2.0    4.0  140.0   18.0    2.0
4     83    32.0   2.0    1.0    1.0    3.0    NaN
..   ...     ...   ...    ...    ...    ...    ...
75   429   121.0   4.0    1.0    3.0   13.0    NaN
76   228   172.0   1.0    NaN   58.0    7.0    NaN
77   125    66.0   1.0    NaN    NaN    6.0    NaN
78  3309  2069.0  45.0   31.0   33.0  127.0  602.0
79   111    37.0   NaN    NaN    1.0    6.0    NaN

[80 rows x 7 columns]

In [17]:
# thay th·∫ø c√°c gi√° tr·ªã NaN b·∫±ng 0
df_reactions = df_reactions.fillna(0)

In [18]:
# b·ªè thu·ªôc t√≠nh reactions c≈©
no_react_df = df.drop(['reactions'], axis = 1)

In [19]:
# thay thu·ªôc t√≠nh reactions b·∫±ng dataframe df_reactions
new_df = pd.concat([no_react_df, df_reactions], axis = 1)

In [20]:
new_df

,post_id,post_text,time,likes,comments,shares,reaction_count,like,love,wow,angry,haha,care,sad
0,738496031649666,Celebrate #WB100 with sunset movies under the ...,2023-11-06 11:35:32,37,0,0,45,37,6.0,1.0,1.0,0.0,0.0,0.0
1,738486251650644,Unlock your Barbie and Chelsea alter ego! Try ...,2023-11-06 11:00:02,14,2,1,16,14,1.0,0.0,0.0,1.0,0.0,0.0
2,736838365148766,Looks like Tom won't be fishing in the Singapo...,2023-11-05 19:00:17,7,4,19,10,7,0.0,0.0,0.0,3.0,0.0,0.0
3,737572781741991,The chase is on in the Singapore Botanic Garde...,2023-11-04 19:04:14,453,14,68,789,453,170.0,2.0,4.0,140.0,18.0,2.0
4,736877231811546,Ready to rock some outdoor superhero moves? ‚ö°Ô∏è...,2023-11-03 10:41:23,83,0,6,122,83,32.0,2.0,1.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,681911200641483,The claws are out this August with Cat-stravag...,2023-08-01 10:55:03,429,28,54,571,429,121.0,4.0,1.0,3.0,13.0,0.0
76,681542050678398,Toontastic Kenergy all around üíØ Which of these...,2023-07-31 19:00:11,228,20,63,466,228,172.0,1.0,0.0,58.0,7.0,0.0
77,681350087364261,Celebrate the 9 lives of Cats with Cat-stravag...,2023-07-31 11:34:16,125,8,7,198,125,66.0,1.0,0.0,0.0,6.0,0.0
78,681290900703513,The iconic chase continues between Tom and Jer...,2023-07-31 09:00:02,3309,281,1000,6216,3309,2069.0,45.0,31.0,33.0,127.0,602.0
79,680769534088983,Did someone say FRIENDSHIP QUIZ? üëØ‚Äç‚ôÄÔ∏èüßê Happy I...,2023-07-30 10:35:03,111,13,11,155,111,37.0,0.0,0.0,1.0,6.0,0.0

In [27]:
# l∆∞u file d∆∞·ªõi t√™n artoonNetworkAsia_81Post_Processing_02_SeperatedReactions.csv
new_df.to_csv("CartoonNetworkAsia_81Post_Processing_02_SeperatedReactions.csv", index = False)